* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    src: url('Lato-Regular.ttf');
    font-family: 'lato';
}
body {
    height: auto;
    font-family: 'lato';
    width: auto;

    background-color: azure;
}
/*HEADER*/
.container-header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    background: linear-gradient(lime,#0099ff);
}
.icon-side-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40px;
    cursor: pointer;
    width: 40px;
}
.icon-side-bar div {
    width: 25px;
    height: 4px;
    margin: 2px;
    border-radius: 10px;
    background-color: white;
}
.side-bar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: white;
    display: none;
    z-index: 3;
}
.side-bar a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-weight: bold;
}
.side-bar a:hover {
    background-color: lightgray;
    transition: .2s;
}
.side-bar img {
    height: 55px;
    width: 200px;
    margin: 10px 0 10px 0;
}
.layar-hitam {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 50%;
    z-index: 2;
    display: none;
}
.down-bar {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    top: 60px;
    font-weight: bold;
}
.down-bar a:hover {
    background-color: lightgray;
}
.down-bar a {
    padding: 21px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
}
.container-header img {
    height: 60px;
    width: 350px;
}
/*main*/
.container-main {
    position: relative;
    top: 60px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.isi-main {
    width: 1000px;
    height: auto;
}
.logomain {
    width: 100%;
    height: 400px;
}
.down-bar-main {
    height: 60px;
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    margin-bottom: 20px;
}
.top-up {
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 250px;
    flex-direction: column;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-up figcaption {
    font-weight: bold;
    font-size: small;
}
.dm {
    border-bottom: 3px solid orangered;
}
.pulsa,.listrik,.wallet {
    filter: opacity(50%);
}
.pulsa:hover {
    filter: opacity(100%);
    transition: .2s;
    border-bottom: 3px solid yellow;
}
.listrik:hover {
    filter: opacity(100%);
    transition: .2s;
    border-bottom: 3px solid lime;
}
.wallet:hover {
    filter: opacity(100%);
    transition: .2s;
    border-bottom: 3px solid #0099ff;
}
.judul-tempat-topup {
    display: flex;
    align-items: center;

}
.judul-tempat-topup div {
    height: 5px;
    margin-right: 5px;
    width: 25px;
    background-color: lime;
    border-radius: 20px;
}
.judul-tempat-topup p {
    font-weight: bold;
    font-size: small;
    margin-bottom: 20px;
}
.isi-tempat-topup {
    width: 1000px;
    flex-wrap: wrap;
    padding: 10px;
    display: flex;
}
.topup-game {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
    margin: 22px;
    height: 150px;
    width: 200px;
    background: white;
    box-shadow: 1px 1px 15px black;
}
.topup-game img {
    border-radius: 10px;
}
.topup-tulisan {
    background-color: skyblue;
    border-radius: 20px;
    font-size: 14px;
    padding: 3px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}
.logo-topup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-topup figcaption {
    font-size: 13px;
}
.logo-topup p {
    font-size: 11px;
    margin-bottom: 3px;
    filter: opacity(70%);
}
.topup-game a {
    text-decoration: none;
    color: black;
}
/*footer*/
.container-footer {
    height: auto;
    margin-top: 60px;
    background-color: #0099ff;
}
.footer {
    height: auto;
    width: 100%;
    padding: 50px;
    display: flex;
}
.isi-footer {
    height: auto;
    width: 30%;
}
.metode-pembayaran {
    width: 70%;
}
.deskripsi-footer p {
    color: white;
    font-size: small;
}
.ikuti-kami p {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: small;
}
.terimakasih a{
    margin: 3px;
}
.terimakasih a img:hover {
    background-color: white;
    transition: .2s;
    border-radius: 5px;
}
.metode-pembayaran {
    margin-left: 10px;
}
marquee {
    margin-top: 10px;
}
hr {
    border: 2px solid black;
}
.copyright {
    font-size: small;
    color: white;
    padding: 10px;
}
@media screen and (min-width:400px) {
    .icon-side-bar {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .container-main {
        width: 100%;
    }
    .isi-main {
        width: 100%;
    }
    .logomain {
        height: 200px;
        width: 100%;
    }
    .down-bar {
        display: none;
    }
    .isi-tempat-topup {
        padding: 10px;
        width: 100%;
        flex-wrap: wrap;
    }
    .topup-game {
        margin: 16px;
        width: 150px;
    }
    .judul-tempat-topup {
        margin-left: 10px;
    }
    .topup-tulisan {
        width: 100px;
    }
    .footer {
        flex-direction: column;
        padding: 10px;
    }
    .isi-footer {
        width: 100%;
    }
    .metode-pembayaran {
        width: 80%;
    }
}
@media screen and (max-width: 387px) {
    .topup-game {
        margin: 13px;
        width: 140px;
    }
    .icon-side-bar {
        margin: 5px;
    }
}
@media screen and (max-width: 355px) {
    .topup-game {
        margin: 13px;
        width: 130px;
    }
}
