@font-face {
    font-family: 'lato';
    src: url('Lato-Regular.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: azure;
    font-family: 'lato';
}
/* header */
.container-header {
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 1;
    align-items: center;
    background: linear-gradient(lime,#0099ff);
}
.icon-side-bar {
    cursor: pointer;
    padding: 5px;
}
.icon-side-bar div {
    height: 4px;
    width: 30px;
    background-color: white;
    margin: 5px ;
    border-radius: 10px;
}
.downbar {
    height: 50px;
    width: 100%;
    position: relative;
    top: 60px;
    display: flex;
    align-items: center;
}
.brand-header {
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
}
.downbar a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    flex-grow: 1;
    padding: 16px;
    background-color: white;
}
.downbar a:hover {
    transition: .3s;
    background-color: lightgray;
}
.side-bar {
    height: 100vh;
    background-color: white;
    width: 200px;
    position: fixed;
    z-index: 3;
    display: none;
}
.layar-hitam-sidebar {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 50%;
    position: fixed;
    z-index: 2;
    display: none;
}
.daftarlink-sidebar {
    margin-top: 10px;
}
.daftarlink-sidebar a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.daftarlink-sidebar a:hover {
    background-color: lightgray;
    transition: .3s;
}
/* MAIN */
.container-main {
    height: auto;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 60px;
    align-items: center;
}
.brand-main {
    width: 1000px;
}
.gambar-logo-main {
    width: 100%;
    height: auto;
}
.gambar-logo-main img {
    height: 450px;
    width: 100%;
}
.downbar-logo-main {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.tempat-topup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex-direction: column;
    cursor: pointer;
    opacity: 50%;
    color: black;
    text-decoration: none;
}
.tempat-topup:nth-child(3) {
    opacity: 100%;
    border-bottom: 3px solid lime;
}
.tempat-topup:nth-child(1):hover {
    border-bottom: 3px solid orangered;
    transition: .1s;
    opacity: 100%;
}
.tempat-topup:nth-child(2):hover {
    border-bottom: 3px solid yellow;
    transition: .1s;
    opacity: 100%;
}
.tempat-topup:nth-child(4):hover {
    border-bottom: 3px solid #0099ff;
    transition: .1s;
    opacity: 100%;
}
.tempat-topup figcaption {
    font-weight: bold;
}
.pilihan-topup {
    height: auto;
    width: 1000px;
    height: 100px;
}
.listrik {
    display: flex;
    align-items: center;
    height: 50px;
}
.listrik div {
    background-color: lime;
    height: 6px;
    width: 30px;
    border-radius: 10px;
    margin: 0 5px 0 5px;
}
.listrik-topup {
    height: auto;
    display: flex;
    align-items: center;
}
.satu {
    height: 150px;
    box-shadow: 1px 1px 15px;
    width: 200px;
    background-color: white;
    margin: 10px 10px 10px 33px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.satu img {
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
}
.satu figcaption {
    font-size: small;
    margin: 5px 0 10px 0;
    font-weight: bold;
}
.satu a {
    width: 70%;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: skyblue;
    padding: 5px;
    text-align: center;
}
/*footer*/
.container-footer {
    height: auto;
    margin-top: 12.5rem;
    background-color: #0099ff;
}
.footer {
    height: auto;
    width: 100%;
    padding: 50px;
    display: flex;
}
.isi-footer {
    height: auto;
    width: 30%;
}
.metode-pembayaran {
    width: 70%;
}
.deskripsi-footer p {
    color: white;
    font-size: small;
}
.ikuti-kami p {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: small;
}
.terimakasih a{
    margin: 3px;
}
.terimakasih a img:hover {
    background-color: white;
    transition: .2s;
    border-radius: 5px;
}
.metode-pembayaran {
    margin-left: 10px;
}
marquee {
    margin-top: 10px;
}
hr {
    border: 2px solid black;
}
.copyright {
    font-size: small;
    color: white;
    padding: 10px;
}
@media screen and (min-width: 450px) {
    .icon-side-bar {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .downbar {
        display: none;
    }
    .gambar-logo-main img {
        height: 200px;
    }
    .brand-main {
        width: 100%;
    }
    .pilihan-topup {
        width: 100%;
    }
}
