*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    src: url('Lato-Regular.ttf');
    font-family: 'lato';
}
@font-face {
    src: url('Freshman.ttf');
    font-family: 'FSM';
}
body {
    font-family: 'lato';
    height: auto;
    width: auto;
    background-color: azure;
}
/*HEADER*/
.container-header {
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    height: 60px;
    width: 100%;
    background: linear-gradient(lime,#0099ff);

}
.icon-side-bar {
    padding: 5px;
    cursor: pointer;
}
.icon-side-bar div {
    margin: 5px;
    height: 4px;
    width: 30px;
    background-color: white;
    border-radius: 20px;
}
.logostore {
    width: 350px;
    height: 60px;
}
.layar-hitam {
    z-index: 2;
    height: 100vh;
    position: fixed;
    width: 100%;
    background-color: black;
    filter: opacity(50%);
}
.side-bar {
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: white;
    z-index: 3;
}
.side-bar a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.side-bar a:hover {
    background-color: lightgray;
}
.side-bar img {
    margin: 10px 0 10px 0;
    height: 50px;
    width: 200px;
}
.down-bar {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    top: 60px;

}
.down-bar a {
    text-decoration: none;
    color: black;
    padding: 21px 18px;
    font-weight: bold;
    background-color: white;
    flex-grow: 1;
    text-align: center;
}
.down-bar a:hover {
    background-color: lightgray;
    transition: .3s;
}
/*MAIN*/
.container-main {
    display: flex;
    height: auto;
    width: auto;
    background-color: azure;
    top: 90px;
    position: relative;
}
.wadah-cara-beli {
    height: auto;
}
.logostore-main {
    display: flex;
    justify-content: center;
    height: auto;
    width: 500px;
}
.logostore-main img {
    border-radius: 10px;
    width: 200px;
    height: 180px;
}
.cara-beli h2 {
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-top: 5px;
    color: black;
    font-family: 'FSM';
}
.cara-beli p {
    font-weight: bold;
    margin-left: 10px;
    filter: opacity(80%);
}
.cara-beli .pemberitahuan {
    color: red;
    margin-top: 10px;
}
.wadah-pilih-nominal {
    width: 700px;
}
.isi-data {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
#gameid {
    width: 80%;
    padding: 10px;
    outline: none;
}
#server {
    width: 40%;
    padding: 10px;
    outline: none;
}
#gameid:focus {
    border: 2px solid lime;
    border-radius: 5px;
    transition: .3s;
}
#server:focus {
    border: 2px solid lime;
    border-radius: 5px;
    transition: .3s;
}
#bantuan-id {
    height: auto;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: lime;
}
.layar-hitam-bantuan {
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 1;
    width: 100%;
    top: 0;
    display: none;
    background-color: black;
    filter: opacity(50%);
}
.isi-data img {
    position: fixed;
    z-index: 1;
    left: 450px;
    top: 100px;
    height: 200px;
    display: none;
    width: 400px;
}
.pilih-nominal {
    background-color: white;
    height: auto;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}
.judul-nominal {
    display: flex;
    margin-bottom: 5px;
}
.judul-nominal h2 {
    opacity: 70%;
    font-size: larger;
}
.judul-nominal div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    width: 30px;
    background-color: lime;
}
.judul-membership {
    opacity: 50%;
    margin-top: 10px
}
.isi-membership {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.pembelian {
    position: relative;
    top: 20px;
}
/*NOMINAL*/
#Beli {
    border: 2px solid;
    padding: 10px;

}

.pilihan-nominal {
    height: 80px;
    margin: 10px;
    padding: 10px 10px 10px 10px; 
    width: 200px;
    border: 1px solid lime;
    border-radius: 10px;
    cursor: pointer;
}
.pilihan-nominal:hover {
    box-shadow: 0px 0px 10px black;
}
.nominal-membership {
    display: flex;
    margin-bottom: -5px;
}
.judul-nominal-membership {
    font-size: 13px;
    margin-right: 20px;
}
.harga-membership {
    font-style: italic;
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}
.membership {
    height: 32px;
    margin-top: 2px;
    margin-left: 10px;
    height: 32px;
}
.diamonds {
    height: 32px;
    margin-top: 2px;
    margin-left: 10px;
    height: 32px;
}
.isi-data-beli {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
#beli {
    padding: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    background-color: lime;

}
/*FOOTER*/
footer {
    margin-top: 150px;
    height: auto;
    background-color: #0099ff;
}
.container-footer {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
.isi-footer {
    
    width: 400px;
    margin-right: 20px;
}
.tentang-footer p {
    color: white;
}
.ikuti-kami p {
    font-size: 14px;
    color: white;
    font-style: italic;
}
.ikuti-kami a {
    margin-right: 5px;
    margin-top: 10px;
}
.ikuti-kami a img {
    padding: 5px;
}
.ikuti-kami a img:hover {
    background-color: white;
    border-radius: 5px;
}
.logo-footer img {
    height: 60px;
    width: 300px;
    margin-left: -70px;
}
.methode-pembayaran h2 {
    color: white;
    margin-bottom: 10px;
}
.pembayaran-footer img {
    height: 50px;
    background-color: white;
    width: 120px;
    margin-left: 10px;
}
.garis-footer {
    border: 2px solid;
    width: 100%;
    height: 100%;
}
.copyright p {
    color: white;
    font-size: small;
    text-align: center;
    padding: 15px;
}
/*ANIMATION*/

/*LAYAR*/
@media screen and (min-width: 700px) {
    .icon-side-bar {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .cara-beli h2 {
        margin-left: 5px;
    }
    .down-bar {
        display: none;
    }
    .logostore-main {
        width: 100%;
    }
    .logostore {
        width: 320px;
    }
    .wadah-cara-beli {
        width: 100%;
    }
    .container-main {
        flex-direction: column;
        align-items: center;
    }
    .pilih-nominal {
        width: 100%;
        
    }
    .wadah-pilih-nominal {
        width: 100%;
        padding: 15px;
    }
    .judul-nominal {
        margin-left: 5px;
    }
    .isi-data img {
        height: 100px;
        width: 200px;
        left: 25%;
    }
    .pilihan-nominal {
        width: 134px;
        margin: 8px;
    }
    .harga-membership {
        font-size: 10px;
    }
    .nominal-membership {
        margin-bottom: 4px;
    }
    .diamonds {
        margin-left: 5px;
    }
    .membership {
        margin-left: 0px;
        margin-right: 5px;
    }
    .judul-nominal-membership {
        margin-top: -7px;
    }
    .container-footer {
        padding: 20px;
    }
    .logo-footer img {
        margin-left: -50px;
    }
}
@media screen and (max-width: 700px) and (min-width : 401px) {
    .cara-beli h2 {
        margin-left: 5px;
    }
    .down-bar {
        display: none;
    }
    .logostore-main {
        width: 100%;
    }
    .logostore {
        width: 320px;
    }
    .wadah-cara-beli {
        width: 100%;
    }
    .container-main {
        flex-direction: column;
        align-items: center;
    }
    .pilih-nominal {
        width: 100%;
        
    }
    .wadah-pilih-nominal {
        width: 100%;
        padding: 20px;
    }
    .judul-nominal {
        margin-left: 5px;
    }
    .isi-data img {
        height: 100px;
        width: 200px;
        left: 25%;
    }
    .pilihan-nominal {
        width: 140px;
        margin: 10px;
    }
    .harga-membership {
        font-size: 10px;
    }
    .nominal-membership {
        margin-bottom: 4px;
    }
}
