* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'lato';
    src: url('Lato-Regular.ttf');
}
body {
    background: azure;
    font-family: 'lato';
}
/*Header*/
.container-header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 1;
    width: 100%;
    background: linear-gradient(lime,#0099ff);
}
.icon-side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.icon-side-bar div {
    height: 4px;
    width: 25px;
    margin: 2px;
    background-color: white;
    border-radius: 5px;
}
.brand img {
    height: 60px;
    width: 380px;
}
.side-bar {
    height: 100vh;
    position: fixed;
    width: 200px;
    display: none;
    background: white;
    z-index: 3;
}
.side-bar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}
.side-bar a:hover {
    background: lightgray;
    transition: .3s;
} 
.side-bar .brand2 img{
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
}
.layar-hitam {
    height: 100vh;
    width: 100%;
    display: none;
    position: fixed;
    filter: opacity(50%);
    background: black;
    z-index: 2;
}
.down-bar {
    height: 50px;
    width: 100%;
    position: relative;
    top: 60px;
     display: flex;
     align-items: center;
    background: white;
}
.down-bar a {
    color: black;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    padding: 16px;
}
.down-bar a:hover {
    background: lightgray;
    transition: .3s;
}
/*Main*/
.container-main {
    height: auto;
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tampilan-main {
    height: auto;
    width: 1000px;
}
.brand-main img {
    width: 100%;
    height: 400px;
}
.down-bar-tampilan {
    height: 60px;
    width: 100%;
    display: flex;
    background: white;
}
.down-bar-tampilan .tempatnya {
    flex-grow: 1;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.down-bar-tampilan .tempatnya p {
    font-weight: bold;
    margin-top: -5px;
}
.top-up, .listrik, .e-wallet {
    opacity: 60%;
}
.pulsa {
    border-bottom: 3px solid yellow;
}
.top-up:hover {
    border-bottom: 3px solid orangered;
    opacity: 100%;
    transition: .1s;
}
.listrik:hover {
    border-bottom: 3px solid lime;
    transition: .1s;
    opacity: 100%;
}
.e-wallet:hover {
    border-bottom: 3px solid #0099ff;
    transition: .1s;
    opacity: 100%;
}
.topup-pulsa {
    margin-top: 20px;
}
.box-judul {
    height: 5px;
    width: 30px;
    background: yellow;
    margin-right: 10px;
    border-radius: 10px;
}
.judul-tempat-topup-pulsa {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.pilihan-topup-pulsa {
    display: flex;
    flex-wrap: wrap;
}
.kartu {
    height: 160px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    margin: 20px;
    width: 210px;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.kartu .logo img {
    border-radius: 10px;
}
.kartu .logo figcaption {
    text-align: center;
    font-size: small;
    font-weight: bold;
}
.kartu .logo p {
    font-size: 14px;
    opacity: 90%;
    text-align: center;
}
.kartu a {
    text-decoration: none;
    color: black;
    background: skyblue;
    padding: 5px;
    width: 70%;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
}
/*footer*/
.container-footer {
    background: #0099ff;
    height: auto;
    width: 100%;
}
.footer {
    display: flex;
    padding: 40px 50px;
}
.isi-footer {
    width: 40%;
}
.isi-footer p {
    color: white;
    font-size: small;
}
.sosmed a {
    margin: 0 1px;
}
.pembayaran {
    color: white;
    overflow: hidden;
    width: 60%;
}
hr {
    border: 2px solid;
}
.brand-footer img {
    margin-left: -50px;
}
.copyright {
    color: white;
    font-size: small;
    padding: 10px;
    text-align: center;
}
marquee img {
    margin: 10px 2px;
}
@media screen and (min-width: 450px) {
    .icon-side-bar {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .brand img {
        width: 300px;
    }
    .down-bar {
        display: none;
    }
    .container-main {
        margin-top: 0;
    }
    .tampilan-main {
        margin-top: 60px;
    }
    .brand-main img {
        height: 200px;
    }
    .box-judul {
        margin-left: 10px;
    }
    .kartu {
        margin: 15px;
        width: 170px;
    }
    .footer {
        flex-direction: column;
        padding: 20px ;
    }
    .isi-footer {
        width: 100%;
    }
    .pembayaran {
        margin-top: 10px;
        width: 100%;
    }
}
@media screen and (max-width: 401px) {
    .kartu {
        margin: 14px;
        width: 155px;
    }
}
@media screen and (max-width: 365px) {
    .kartu {
        margin: 12px;
        width: 150px;
    }

}
